# Personal user files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.csproj.user
*.vcxproj.user
*.props.user
*.publishsettings
*.pubxml.user

# Rider files
.idea/

# Other
*.nupkg
*.nuget.props
*.nuget.targets

# Test Results
TestResults/
*.trx
